[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group HPSoftwareSolution
	owner = group user/TrdHuy
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group HPSoftwareSolution
	label-Code-Review = -2..+2 group user/TrdHuy
	label-Verified = -1..+1 group HPSoftwareSolution
	label-Verified = -1..+1 group user/TrdHuy
	push = group HPSoftwareSolution
	push = group user/TrdHuy
	read = group HPSoftwareSolution
	read = group user/TrdHuy
	rebase = group HPSoftwareSolution
	rebase = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	rebase = group user/TrdHuy
	removeReviewer = group HPSoftwareSolution
	removeReviewer = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	removeReviewer = group user/TrdHuy
	submit = group HPSoftwareSolution
	submit = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	submit = group user/TrdHuy
[access "refs/heads/*"]
	create = group HPSoftwareSolution
	create = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	create = group user/TrdHuy
	push = group HPSoftwareSolution
	push = +force group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	push = +force group user/TrdHuy
	pushMerge = group HPSoftwareSolution
	pushMerge = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	pushMerge = group user/TrdHuy
	read = group HPSoftwareSolution
	read = group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	read = group user/TrdHuy
[access "refs/tags/*"]
	push = group HPSoftwareSolution
	push = +force group user/Tran Nguyen Ba Phuoc (PhuocTran95)
	push = group user/TrdHuy
	push = +force group user/TrdHuy
